:host {
  --content-padding: 40px;
}
header {
  display: block;
  height: 70px;
  background: hsl(0, 0%, 96%);
 
}
.content {
  padding: var(--content-padding);
}

img {
margin-top: 20px;
margin-left: 15px;
}

